.title{
  text-align: center;
  font-size: 15px;
  color: #1A4E8D;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
}

.title h2{
  font-size: 32px;
  text-transform: none;
  margin-top: 5px;
}
